/* Remove the standard margin/padding of the html body */
body {
    margin: 0;
    padding: 0;
}

.menu {
    
}

.page {

}

.footer {

}

.container {
    margin-left: 100px;
    margin-top: 20px;

}