/* Remove the standard margin/padding of the html body */

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.myfooter {
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 60px;
    background-color: rgba(226, 224, 224, 0.705);
    text-align: center;
}

.container {
    margin-left: 100px;
    margin-top: 20px;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
    background-color: transparent;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.rechts {
    float: right;
    margin-left: 10px;
}

.gg-shopping-cart {
    display: block;
    box-sizing: border-box;
    float: right;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 21px;
    margin-right: 30px;
    background: linear-gradient( to left, currentColor 12px, transparent 0) no-repeat -1px 6px/18px 2px, linear-gradient( to left, currentColor 12px, transparent 0) no-repeat 6px 14px/11px 2px, linear-gradient( to left, currentColor 12px, transparent 0) no-repeat 0 2px/4px 2px, radial-gradient( circle, currentColor 60%, transparent 40%) no-repeat 12px 17px/4px 4px, radial-gradient( circle, currentColor 60%, transparent 40%) no-repeat 6px 17px/4px 4px
}

.gg-shopping-cart::after,
.gg-shopping-cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
}

.gg-shopping-cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
}

hr {
    background-color: #bbb5b5;
    color: #bbb5b5;
    border: #bbb5b5;
    height: 1px;
}

.containermenu {
    margin-top: 20px;
    width: 99%;
    height: 50px;
    padding: 5px;
    padding-bottom: 20px;
}

.logo {
    width: 20%;
    height: 100%;
    float: left;
}

.menulink {
    float: left;
    text-align: center;
    width: 60%;
    height: 100%;
}

.cart {
    float: left;
    width: 19%;
    height: 100%;
    vertical-align: center;
}